name: CI-CD Pipeline Learning

on:
    push:
        branches:
            - main
env:
    NODE_VERSION: 22.0.0
    PORT: 8080
jobs:
    unit_tests:
        runs-on: ubuntu-latest
        name: Checkout and Setup Node
        continue-on-error: true
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v3
              with:
                node-version: ${{ env.NODE_VERSION }}
            - run: npm run test
    notify_job:
        needs: unit_tests
        runs-on: ubuntu-latest
        name: Notify Job
        steps:
            - run: echo "App is running on port ${{ env.PORT }}"
    build_job:
        runs-on: ubuntu-latest
        name: Build Job
        steps:
            - uses: actions/checkout@v5
            - run: docker build . -t ${{ secrets.DOCKERHUB_USERNAME }}/cicd-learning:${{ github.sha }}
            - run: docker images
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            - run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/cicd-learning:${{ github.sha }}
    